<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.dicoding.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SahamIQ">
        <activity
            android:name=".settings.SettingsActivity"
            android:theme="@style/Theme.SahamIQ"
            android:exported="false" />
        <activity
            android:name=".detail.DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_detail_home"
            android:theme="@style/Theme.SahamIQ.NoActionBar" />
        <activity
            android:name="com.dicoding.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SahamIQ.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>